* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To Box Model */
  
}

/* Global */
body {
  font-family: "Merriweather", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}
.container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
      }

.hero__container {
        width: 100%;
        margin-top: 20px;
        display: flex;
      } 
      
      
.hero__image__container {
        width: 25%;
      }
      
.hero__image {
        width: 100%;
      }
      
.hero__text {
        font-size: 50px;
        margin: 50px 150px;
      }

.hero__text1{
    font-size: 40px;
    text-align: center;
    margin: -30px 200px;
}

.hero2_container {
  
    justify-content: space-around;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    background-color: whitesmoke;
    margin-bottom: 40px;
    margin-right: -20px;
} 
.hero2_container_text{
  background-color: whitesmoke;
}

.hero2_text{
  text-align: center;
  margin-top: 10px;
  
  font-size: 30px;
  font-weight: bold;
  
  
}

.hero2_button{
  
    background-image: linear-gradient(
        to right,
        #000000 100%,
        #000000 100%,
        #000000 100%
      );
    color: #fff;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 600px;
    margin-left: 600px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 10px;
  }

